<div class="navbar">
    <h1>MY ORDERS</h1>
</div>

<br />
<button routerLink="/register" class="btn btn-primary">REGISTER</button> <br />
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">PIZZA NAME</th>
            <th scope="col">SIZE</th>
            <th scope="col">ADITION</th>
            <th scope="col">PRICE</th>
            <th scope="col">ACTIONS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@fat</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td></td>
        </tr>
    </tbody>
</table>
