body{
    background-image: url(../../../assets/img/background2.jpg);

}

.btn {
    color: #fff;
    background-color: #911f27;
    margin-left: 5%;
}
button {
    margin-top: 3%;
    box-shadow: 2px 2px 20px #00092c;
}

table {
    width: 80%;
    background-color: #ff5f00;
    box-shadow: 2px 2px 20px #00092c;
    color: #00092c;
    margin-left: 5%;
    margin-top: 2%;
}

.navbar {
    background-color: #ff5f00;
    color: black;
    padding: 25px;
    display: block;
    width: 80%;
    margin-left: 5%;
}

.fa-solid {
    cursor: pointer;
}

.pen:hover {
    color: green;
}

.trash:hover {
    color: rgb(247, 222, 222);
}

.fa-pizza {
    margin-left: 5px;
}
#message h2 {
    margin-left: 60px;
    font-weight: bold;
    color: #911f27;
}














