.btn {
    color: #fff;
    background-color: #911f27;
    margin-left: 5%;
}

table {
    width: 80%;
    background-color: #FF5F00;
    color: #EEEEEE;
    margin-left: 5%;
}

.navbar {
    background-color: #FF5F00;
    color: #EEEEEE;
    padding: 25px;
    display: block;
    width: 80%;
    margin-left: 5%;
}
