<div class="body">
    <div class="title">
        <h1>FORM REGISTER</h1>
    </div>
    <div class="container">
        <button routerLink="/dashboard" class="cssbuttons-io-button">
            Back to the menu
            <div class="icon">
                <svg
                    height="24"
                    width="24"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                        d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                        fill="currentColor"
                    ></path>
                </svg>
            </div>
        </button>
        

        <form [formGroup]="pizzaForm" (ngSubmit)="addPizza()">
            <strong>
                <label for="name">PIZZA NAME</label>
                <input
                    type="text"
                    formControlName="name"
                    class="form-control"
                    placeholder=""
                />
                <p
                    class="fw-bold text-danger"
                    *ngIf="
                        pizzaForm.get('name')?.hasError('required') &&
                        pizzaForm.get('name')?.touched
                    "
                >
                    The pizza name is needed
                </p>
            </strong>
            <strong>
                <label for="name">SIZE</label>
                <input
                    type="text"
                    formControlName="size"
                    class="form-control"
                    placeholder=""
                />
                <p
                    class="fw-bold text-danger"
                    *ngIf="
                        pizzaForm.get('size')?.hasError('required') &&
                        pizzaForm.get('size')?.touched
                    "
                >
                    The pizza size is needed
                </p>
            </strong>
            <strong>
                <label for="name">ADITION</label>
                <input
                    type="text"
                    formControlName="adition"
                    class="form-control"
                    placeholder=""
                />
                <p
                    class="fw-bold text-danger"
                    *ngIf="
                        pizzaForm.get('adition')?.hasError('required') &&
                        pizzaForm.get('adition')?.touched
                    "
                >
                    The pizza adition is needed
                </p>
            </strong>
            <strong>
                <label for="lname">PRICE</label>
                <input
                    type="text"
                    formControlName="price"
                    class="form-control"
                    placeholder=""
                />
                <input class="submit" type="submit" value="Submit" />
               
            </strong>
        </form>
    </div>
</div>
