<div class="body">
    <div class="title">
        <h1>FORM REGISTER</h1>
    </div>
    <div class="container">
        <form>
            <strong>
                <label for="name">PIZZA NAME</label>
                <input
                    type="text"
                    id="fname"
                    name="firstname"
                    placeholder="Jupiter Pizza..."
                />
            </strong>
            <strong>
                <label for="size">SIZE</label>
                <select name="size">
                    <option value="small">SMALL</option>
                    <option value="medium">MEDIUM</option>
                    <option value="big">BIG</option>
                </select>
            </strong>
            <strong>
                <label for="adition">ADITION</label>
                <select id="adition" name="adition">
                    <option value="peperoni">PEPERONI</option>
                    <option value="jam">JAM</option>
                    <option value="">MEAT</option>
                </select>
            </strong>
            <strong>
                <label for="lname">PRICE</label>
                <input type="text" id="lname" name="lastname" placeholder="$12000" />
                <input class="submit" type="submit" value="Submit" />
            </strong>
        </form>
    </div>
</div>
