<div class="body">
    <div class="title">
        <h1>FORM REGISTER</h1>
    </div>
    <div class="container">
        <form [formGroup]="pizzaForm" (ngSubmit)="addPizza()">
            <strong>
                <label for="name">PIZZA NAME</label>
                <input
                    type="text"
                    formControlName="name"
                    name="firstname"
                    class="form-control"
                    placeholder="Jupiter Pizza..."
                /><p class="fw-bold text-danger" *ngIf="pizzaForm.get('name')?.hasError('required')&& pizzaForm.get('name')?.touched">The pizza name is needed</p>
            </strong>
            <strong>
                <label for="name">SIZE</label>
                <input
                    type="text"
                    formControlName="size"
                    name="firstname"
                    class="form-control"
                    placeholder="Medium"
                /><p class="fw-bold text-danger" *ngIf="pizzaForm.get('size')?.hasError('required')&& pizzaForm.get('size')?.touched">The pizza size is needed</p>
            </strong>
            <strong>
                <label for="name">ADITION</label>
                <input
                    type="text"
                    formControlName="adition"
                    name="firstname"
                    class="form-control"
                    placeholder="Peperoni"
                /><p class="fw-bold text-danger" *ngIf="pizzaForm.get('adition')?.hasError('required')&& pizzaForm.get('adition')?.touched">The pizza adition is needed</p>
            </strong>
            <strong>
                <label for="lname">PRICE</label>
                <input type="text" id="lname" name="lastname" placeholder="$12000" />
                <input class="submit" type="submit" value="Submit" />
            </strong>
        </form>
    </div>
</div>
